@using TI_Net2025_DemoAspMvc.Models.Dtos

@model BookDetailDto

<h1>Book Details</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Isbn)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Isbn)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Author)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Author)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Release)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Release)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
</dl>
<a class="btn btn-primary" asp-controller="Book" asp-action="Index">Back to list</a>
<a class="btn btn-warning"
   asp-controller="Book"
   asp-action="Edit"
   asp-route-isbn="@Model.Isbn">Edit</a>
<form class="d-inline"
      method="post"
      asp-controller="Book"
      asp-action="Remove"
      asp-route-isbn="@Model.Isbn">
    <button type="submit" class="btn btn-danger">Remove</button>
</form>