@using TI_Net2025_DemoAspMvc.Models.Dtos
@using TI_Net2025_DemoAspMvc.Models.Dtos.Author
@using TI_Net2025_DemoAspMvc.Models.Dtos.Book
@using TI_Net2025_DemoAspMvc.Models.Entities

@model BookFormDto

<h1>Add Book</h1>

<a asp-controller="Book" asp-action="Index">Retour à la liste</a>

<form asp-controller="Book" asp-action="Edit" asp-route-isbn="@Model.Isbn" method="post">
    <div class="form-group">
        <label asp-for="Isbn">@Html.DisplayNameFor(model => model.Isbn)</label>
        <input asp-for="Isbn" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Title">@Html.DisplayNameFor(model => model.Title)</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AuthorId">@Html.DisplayNameFor(model => model.AuthorId)</label>
        <select asp-for="AuthorId">
            @foreach (AuthorDto a in (List<AuthorDto>)ViewData["Authors"]!)
            {
                <option value="@a.Id">@a.Lastname @a.Firstname</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Release">@Html.DisplayNameFor(model => model.Release)</label>
        <input asp-for="Release" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">@Html.DisplayNameFor(model => model.Description)</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Edit</button>
</form>