@using TI_Net2025_DemoAspMvc.Models.Dtos

@model List<BookIndexDto>

<h1>Book Index</h1>

<a class="btn btn-primary"
   asp-controller="Book"
   asp-action="Add">Add book</a>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Author</th>
            <th>Date de publication</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(BookIndexDto book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Release</td>
                <td>
                    <a class="btn btn-primary" 
                    asp-controller="Book" 
                    asp-action="Details"
                    asp-route-isbn="@book.Isbn"
                    >Details</a>
                    <a class="btn btn-warning"
                       asp-controller="Book"
                       asp-action="Edit"
                       asp-route-isbn="@book.Isbn">Edit</a>
                    <form class="d-inline"
                        method="post"
                        asp-controller="Book"
                        asp-action="Remove"
                        asp-route-isbn="@book.Isbn"
                        >
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>